.content{
    display: grid;
    grid-template-columns: 350px 1fr 300px;
    padding: 2px 20px;
    min-height: calc(100vh - 100px);
}

.left-panel{
}

.middle-panel{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 3px 10px; /* This sets the official padding for all content*/
    
}

.right-panel{
    background: blue;
}