.site-header{
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100px;
    padding: 10px 20px;
    top: 0;
    box-sizing: border-box;
    border: solid 0.1px #dfe2e6;
    background-color: #f6f8fa;
}

.site-header p{
    margin: 0;
    line-height: 1;
}

.leagueDecider{
    display: flex;
    flex-direction: row;
    padding: 2px 20px;
    justify-content: center;
    gap: 15px;
}

.header-inner{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-sizing: border-box;
}

.title{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-family: 'Kadwa', serif;
    font-weight: bold;
}



.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    font-weight: bold;
}

.explain,
.about
{
    display: flex;
    flex-direction: column;
    border: 1px solid black;    
    width: fit-content;
    align-items: center;
}

.explain p,
.about p{
    width: fit-content;
}
