.R-LB-wrapper{
    background-color: #f6f8fa;
    border: solid 0.5px #dfe2e6;
    border-radius: 20px;
}

.R-LB-header{
    padding-top: 5px;
    padding-left: 13px;
    padding-right: 5px;
    border-bottom: solid 0.5px #dfe2e6;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.R-LB-statWrap{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.R-LB-statHead{
    width: 40px;
    display: flex;
    justify-content: center;
}

.R-LB-content{
    padding: 5px 0px;
}

.R-LB-header p{
    margin: 0;
}
