.R-LB-wrapper{
    background-color: #f6f8fa;
    border: solid 0.5px #dfe2e6;
    border-radius: 20px;
}

.R-LB-header{
    padding: 5px 13px;
    border-bottom: solid 0.5px #dfe2e6
}

.R-LB-content{
    padding: 5px 0px;
}

.R-LB-header p{
    margin: 0;
}