---
import '../styles/gameDisplay.css';

interface Props{
    team1: string;
    team2: string;
    time1: string;
}

const{
    team1,
    team2,
    time1,
} = Astro.props;
---

<div class="GDis-wrapper">
    <div class="GDis-main">
        <div class="GDis-team1">
            <p>{team1}</p>
            <img src="../manCity.png"/>
        </div>

        <div class="GDis-gameData">
            <p>{time1}</p>
        </div>

        <div class="GDis-team2">
            <img src="../manUnited.png"/>
            <p>{team2}</p>
        </div>
    </div>
</div>


