---
import '../styles/header.css';
---

<header class="site-header">
	<div class="header-inner">
		<div class="title">FutBud</div>
		<div class="search">Search</div>
		<div class="nav">
			<div class="power">Power-Ranking</div>
			<div class="luck">Luck-Ranking</div>
			<div class="about">About</div>
		</div>
	</div>
</header>

