---
import '../styles/teamStatCompare.css';
import Gamecard from '../components/teamsh2h.astro';
const{
    team1,
    team2,
    title,
    Competition,
    team1P,
    team2P,
    team1L,
    team2L,
    team1Odd,
    team2Odd,
    team1HA,
    team2HA,
    team1RR,
    team2RR
} = Astro.props;
---

<div class="Main-wrapper">
    <div class="statComp-header">
        <h3>{title} - {Competition}</h3>
    </div>

    <div class="statComp-content">
        <Gamecard
            homeTeam="Arsenal"
            awayTeam="Chelsea"
            homeLogo="/manCity.png"
            awayLogo="/manUnited.png"
            status="soon"
            gameDate="Apr 12"
            gameTime="3:00 PM"
            homeScore={0}
            awayScore={0}
        />

        <div class="Power-Rating">

        </div>

        <div class="Luck-Rating">
            1-1
        </div>

        <div class="Probability">
            1-1
        </div>

        <div class="HA-Form">
            1-1
        </div>

        <div class="Recent-Rating">
            1-1
        </div>

    </div>
</div>